* {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/*header*/
.header{
    display: flex;
    height: fit-content;
    background: #E1F2FF;
    align-items: center;
    background-image: url(../album/clouds.gif);
    background-repeat: repeat-x;
    background-position-y: -82px;
}

.header_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 250px;
}

/*nav*/
nav{
    text-align: center;
}

nav ul{
    list-style: none;
    background: #9fC1D4;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    width: 170px;
}

nav a{
    text-decoration: none;
    color: #050A30;

    display: block;
    padding: 10px;
    font-size: 1.0em;
    font-family: 'Radley';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
}

nav a:hover{
    color: #FFFFFF;
}

/* Contact Us Dialog CSS */
h3{
    font-size: 1.5em;
    margin:15px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.name{
    width: 100%;
    position: relative;
    margin-bottom:15px;
    font-family: 'Raleway', sans-serif;
}

.name input{
    width: 90%;
    padding: 20px;
    border:none;
    outline:none;
    font-size: 1.2em;
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}

.name input::placeholder{
    color:#bbb;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.email{
    width: 100%;
    position: relative;
    margin-bottom:15px;
    font-family: 'Raleway', sans-serif;
}

.email input{
    width: 90%;
    padding:20px;
    border:none;
    outline:none;
    font-size: 1.2em;
    background-color: #eee;
    font-family: 'Raleway', sans-serif;
}

.email input::placeholder{
    color:#bbb;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.message-box{
    width: 90%;
    position: relative;
    margin-bottom:15px;
    font-family: 'Raleway', sans-serif;
}

.message-box textarea{
    width: 100%;
    padding:20px;
    border:none;
    outline:none;
    font-size: 1.2em;
    background-color: #eee;
    resize: none;
    font-family: 'Raleway', sans-serif;
    margin: 0 20px;
}

.message-box textarea input::placeholder{
    color:#bbb;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.btn_send{
    width:100%;
    cursor:pointer;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.btn_send button{
    width: 100%;
    padding:10px;
    font-size:1.2em;
    color:black;
    background-color: #FEBCC8;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.btn_send:hover, .btn_close:hover{
    filter: brightness(90%);    
}

.btn_close{
    width: auto;
    cursor:pointer;
    margin-top: 8px;
    margin-left:80px;
    font-family: 'Raleway', sans-serif;
}

.button_close{
    height:40px;
    width: 100%;
    font-size:1.2em;
    font-weight: bold;
    color:#fff;
    background-color: red;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.button_send{
    height:40px;
    width: 100%;
    font-size:1.2em;
    font-weight: bold;
    color:#fff;
    background-color: red;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.title-grid{
    display: grid;
    grid-template-columns: 70% 30%;
    padding:0;
}


.message{
    width:100%;
    position:relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.message .success{
    font-size: 1.5em;
    color:green;
    position: absolute;
    animation: buttons .3s linear;
    display:none;
    font-family: 'Raleway', sans-serif;
}

.message .warning{
    font-size: 1.5em;
    color:red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display:none;
    font-family: 'Raleway', sans-serif;

}

@keyframes buttons{
    0%{
        transform:scale(0,1);
    }
    50%{
        transform:scale(0,5);
    }
    100%{
        transform:scale(1);
    }
}

.modal{
    width:500px;
    height:600px;
    position: fixed;
    padding:0.5em;
    border-radius: 0.25rem;
    z-index: 10;
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

.contact_us{
    cursor: pointer;
}

/* Login & Register Dialog CSS */
.log_in{
    cursor:pointer;
}


.wrap {
    position: relative;
    width: 500px;
    height: 545px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Radley';
    overflow: hidden;
    transform: scale(0);
    font-family: 'Raleway', sans-serif;
}

.wrap.active-popup {
    transform: scale(1);
}

.wrap.active {
    height: 600px;
}

.wrap .form-box {
    width: 100%;
    padding: 40px;
}

.wrap .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrap.active .form-box.login {
    transition: none;
    transform: translateX(-500px);
}

.wrap .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.wrap.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrap .close {
    position: absolute;
    top: 10px;
    right: 30px;
    height:40px;
    width: 40px;
    font-size:1.2em;
    font-weight: bold;
    color:#fff;
    background-color: red;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    z-index: 1;
}

.form-box h3 {
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 90%;
    height: 50px;
    margin:30px 30px 30px 0;
    
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: .3s;
    
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline:none;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    padding: 0 20px 0 5px;
    background-color:#eee;
    
}

.remember-forgot {
    font-size: 0.9em;
    margin: -15px 0 15px;
    display:flex;
    justify-content: space-between;
}

.remember-forgot .forgot-link{
    font-size: 0.9em;
    color: black;
    text-decoration: none;
    margin-top:-5px;
}


.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 95%;
    height: 45px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    margin-left: -20px;
}

.login-register {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
    text-align: center;
}

.login-register .register-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    font-size: 0.9em;
}

.login-register .register-link:hover {
    text-decoration: underline;
}

.login-register .login-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display:inline;
    font-size: 0.9em;
}

.login-register .login-link:hover{
    text-decoration: underline;
}

.register_successful_msg{
    color:green;
    display: none;
    font-weight: bold;
}

/*log out no display*/
#logout{
    display: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Inknut Antiqua';
    text-shadow: #aec7f2 5px 5px;
    line-height: 60px;
    padding: 20px 0 20px 0;
}

p {
    font-family: 'Radley';
}

h2 {
    font-family: 'Inknut Antiqua';
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

body {
    background-color: #fffbf5;
    display: grid;
    width: 100%;
    place-items: center;
    margin: 0;
}

.wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 10px;
}

.wrapper1 {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper img {
    min-width: 100px;
    max-width: 200px;
    align-self: center;
    justify-self: end;
}

.wrapper1 img {
    min-width: 100px;
    max-width: 200px;
}

.text {
    min-width: 100px;
    max-width: 240px;
}

.text1 {
    min-width: 100px;
    max-width: 240px;
    justify-self: end;
    text-align: end;
}

.text p {
    padding-left: 15px;
    padding-top: 5px;
}

.text1 p {
    padding-right: 15px;
    padding-top: 5px;
}

.rc1 {
    border-radius: 18px;
    background: #ffebea;
    padding: 10px 15px;
    min-width: 50px;
    max-width: 150px;
    width: fit-content;
    height: fit-content;
}

.rc2 {
    border-radius: 18px;
    background: #f2faff;
    padding: 10px 15px;
    height: fit-content;
    justify-self: end;
}

.rc3 {
    border-radius: 18px;
    background: #f3fadc;
    padding: 10px 15px;
    width: fit-content;
    height: fit-content;
}

.rc4 {
    border-radius: 18px;
    background: #fff7e7;
    padding: 10px 15px;
    width: fit-content;
    height: fit-content;
    text-align: right;
}

.rc5 {
    border-radius: 18px;
    background: #ebeffe;
    padding: 10px 15px;
    width: fit-content;
    height: fit-content;
}

.rc6 {
    border-radius: 18px;
    background: #ffffff;
    padding: 10px 15px;
    justify-self: end;
    height: fit-content;
}

footer {
    display: grid;
    position: relative;
    background-color: #d4def6;
    font-family: 'Radley';
    font-weight: bold;
}

.icon {
    width: 20px;
    height: 20px;
}

footer h3 {
    font-size: 25px;
    font-family: 'Radley';
}

footer p {
    font-family: 'Radley';
}

footer .info {
    font-size: 16px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 320px 300px;
    grid-gap: 20px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container h3 {
    position: relative;
    margin-bottom: 15px;
    margin-left: 0;
}

.shop {
    position: relative;
    border-right: 2px solid black;
}

.shop li {
    list-style: none;
    margin-bottom: 10px;
}

.shop li a {
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}

.shop li a:hover {
    color: white;
}

.contact {
    position: relative;
    border-right: 2px solid black;
    padding-left: 20px;
}

.contact li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 15px;
}

.subscribe {
    padding-left: 20px;
}

.subscribe input {
    height: 40px;
    width: 100%;
    outline: none;
    border: 2px solid #797d88;
    background: #d4def6;
    border-radius: 10px;
    padding: 0px 15px;
    font-size: 15px;
    color: black;
    font-family: 'Radley';
}

.subscribe input::placeholder{
    color: #5d6068;
    font-size: 15px;
    font-family: 'Radley';
}

.copyright {
    width: 100%;
    background-color: #d4def6;
    padding: 5px 5px;
    text-align: left;
}

/*tablet*/
@media screen and (min-width: 600px) and (max-width: 1200px) {
 
    body {
        margin: 0;
    }

    h1 {
        font-size: 50px;
    }

    nav {
        padding: 0;
        margin: 0;
    }

    nav li {
        width: 120px;
        padding: 0;
        font-size: 12px;

    }

    footer .container{
        font-size: 0.8em;
        padding: 0;
        padding-top: 40px;
        width: 90%;
        grid-template-columns: 140px 220px 180px;
        column-gap: 25px;
        margin: auto;

    }
    .footer_shop{
        line-height: 22px;
    }
    .footer-container h3{
        padding-bottom: 0;
    }
    .subscribe p{
        font-size: 15px;
    }
}

/*mobile*/
@media screen and (max-width: 600px) {
    body {
        margin:0;
        padding-right: 0;
        width: max-content;
    }
    
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }

    nav li{
        width: 200px;
        display: block;
        margin-left: 170px;
    }

    footer .container {
        grid-template-columns: repeat(1, 100%);
        padding: 40px;
        width: 100%;
    }

    footer .shop {
        border-right: none;
    }

    footer .contact {
        border-top: 2px solid black;
        padding-top: 30px;
        padding-left: 0px;
        border-right: none;
    }
    footer .subscribe {
        border-top: 2px solid black;
        padding-top: 30px;
        padding-left: 0px;
    }
    
}